@charset "UTF-8"

@import compass

/* 將預設的focus虛線去除 */
*
	&:focus
		outline: none

a
	&:focus
		outline: none

/* firefox 將select的虛線去除 */
select
	&:-moz-focusring 
		color: transparent
		text-shadow: 0 0 0 #000


body
	color: #fff
	background-color: #353443
	font: 12px "蘋果儷中黑", "微軟正黑體", Verdana, Arial, sans-serif, "新細明體"


.ui-autocomplete 
	max-height: 200px
	overflow-y: auto
	overflow-x: hidden

.lightbox-fadeall
	display: none
	font-family: sans-serif
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	outline: 0 none
	background-image: inline-image("../img/lightbox-fade.png")
	background-repeat: repeat
	z-index: 1050
	.dialog
		position: absolute
		top: 30%
		left: 50%
		.dialog-inner
			margin-left: -200px
			.container
				width: 400px
				height: 192px
				background: url("../img/lightbox.png") no-repeat center
				.header
					text-align: right
					a
						display: block
						position: relative
						top: 5px
						right: 6px
						font-size: 18px
				.content
					color: #000
					font-size: 18px
					line-height: 30px
					margin-left: 150px
					margin-top: 50px
					padding-right: 10px



#container
	min-width: 1024px
	.page
		position: relative
		height: 619px
		.logo
			display: block
			position: relative
			top: 80px
			left: 50px
			width: 104px
			height: 94px
			background: url("../img/logo.png") no-repeat center

		.wrapper
			width: 1024px
			height: 599px
			margin: 0 auto
			position: relative
	.p1
		background: url("../img/p1bg.jpg") no-repeat center
		background-size: cover
		.wrapper
			position: static
		.next
			display: block
			position: absolute
			bottom: 0
			left: 50%
			margin-left: -22.5px
			width: 45px
			height: 30px
			background: url("../img/next.png") no-repeat center
			&:hover
				background: url("../img/nexth.png") no-repeat center
	.p2
		display: none
		height: 619px
		background-color: inherit
		h1
			font-size: 28px
			text-align: center
			margin-bottom: 102px
		.member-container
			width: 753px
			margin: 0 auto

			.icons
				position: relative
				text-align: center
				height: 121px
				.icon
					display: inline-block
					position: absolute
				.hr
					position: absolute
					display: inline-block
					border-bottom: 2px solid #777781
					height: 75px
					width: 174px
				.hr1
					left: 156px
				.hr2
					right: 156px
				.tsai
					background: url("../img/tsai.png") no-repeat center
					width: 96px
					height: 119px
					left: 60px
					&:hover
						background: url("../img/tsaih.png") no-repeat center
						height: 144px
						width: 109px
						left: 49px
						bottom: 0px
					&:active
						background: url("../img/tsaia.png") no-repeat center
						height: 146px
						width: 111px
						left: 47px
						bottom: 0px
				.lin
					background: url("../img/lin.png") no-repeat center
					width: 96px
					height: 110px
					margin-top: 9px
					left: 327px
					&:hover
						background: url("../img/linh.png") no-repeat center
						height: 137px
						width: 99px
						left: 325px
						bottom: 0px
					&:active
						background: url("../img/lina.png") no-repeat center
						height: 139px
						width: 101px
						left: 323px
						bottom: 0px
				.wu
					background: url("../img/wu.png") no-repeat center
					width: 96px
					height: 108px
					margin-top: 11px
					right: 60px
					&:hover
						background: url("../img/wuh.png") no-repeat center
						height: 136px
						width: 98px
						right: 60px
						bottom: 0px
					&:active
						background: url("../img/wua.png") no-repeat center
						height: 138px
						width: 98px
						right: 60px
						bottom: 0px
			.profiles
				.profile
					display: inline-block
					text-align: center
					.name
						color: #0f93a6
						font-size: 29px
						line-height: 29px
						margin: 16px 0 9px
					.area
						font-size: 14px
						margin: 0 0 3px 0
				.tsai
					margin-left: 58px
				.lin
					margin-left: 158px
				.wu
					margin-left: 113px
	.p3
		display: none
		.back-wrapper 
			text-align: right
			.back
				display: inline-block
				width: 39px
				height: 38px
				margin: 0 11px 11px 0
				background: url("../img/back.png") no-repeat center
				&:hover
					background: url("../img/backh.png") no-repeat center
		.title
			width: 753px
			margin-left: 194px
			position: relative
			.pic
				margin-right: 15px
				position: relative
			.detail
				display: inline-block
				vertical-align: top
				.name
					font-size: 47px
					line-height: 47px
					color: #17889a
				.area
					font-size: 16px
				.slogan
					font-size: 28px
					line-height: 28px
					margin-top: 10px
					margin-bottom: 8px
				.aread
					font-size: 32px
					height: 32px
					line-height: 32px
		.title.tsai
			.pic
				bottom: 25px
			.detail
				.name
					&:after
						content: "蔡正元"
				.area
					&:after
						content: "台北市第4選區"
				.aread
					color: #a74c4c
		.title.lin
			.pic
				bottom: 17px
			.detail
				.name
					&:after
						content: "林鴻池"
				.area
					&:after
						content: "新北市第6選區"
				.aread
					color: #4b88a4
		.title.wu
			.pic
				bottom: 15px
			.detail
				.name
					&:after
						content: "吳育昇"
				.area
					&:after
						content: "新北市第1選區"
				.aread
					color: #dd8f42

		.form
			display: none
			float: left
			width: 40%
			margin-left: 50px
			margin-top: 59px
			.form-group
				margin-bottom: 26px
				.inner
					width: 367px
					height: 41px
					background: url("../img/input.png") no-repeat center
					font-size: 20px
					label
						margin: 0 11px 0 14px
						line-height: 42px
						float: left
					input
						font-size: inherit
						color: #fff
						border: 0px solid #fff
						background-color: transparent
						width: 78%
						height: 75%
						margin: 4px 0px 0px 3px
				.error
					color: #ca1117
					font-size: 16px 
					margin-top: 3px
					margin-left: 75px
			.btn
				display: inline-block
				width: 72px
				height: 39px
				background-color: #00ad98
				border-radius: 3px
				font-size: 20px
				color: #fff
				text-align: center
				line-height: 40px
				&:active
					color: #354b48
					margin: 3px 0px 0px 3px


		.map
			position: absolute
			right: 0
		.map.tsai
			top: 95px
			right: -5px
		.map.lin
			top: 70px
			right: 30px
		.map.wu
			right: 20px
			top: 0px



